<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Admob</key>
	<dict>
		<key>appID</key>
		<string>xxx</string>
		<key>bannerID</key>
		<string>xxx</string>
		<key>interstitialID</key>
		<string>xxx</string>
		<key>rewardedVideoID</key>
		<string>xxx</string>
		<key>splashAdID</key>
		<string>xxx</string>
	</dict>
	<key>BUAd</key>
	<dict>
		<key>fullscreenAdID</key>
		<string>xxx</string>
		<key>appID</key>
		<string>xxx</string>
		<key>bannerID</key>
		<string>xxx</string>
		<key>interstitialID</key>
		<string>xxx</string>
		<key>rewardedVideoID</key>
		<string>xxx</string>
		<key>splashAdID</key>
		<string>xxx</string>
	</dict>
</dict>
</plist>
