<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Google 广告 -->
    <key>Admob</key>
    <dict>
        <!-- appID -->
        <key>appID</key>
        <string>xxx</string>
        <!-- bannerID -->
        <key>bannerID</key>
        <string>xxx</string>
        <!-- 插屏广告 -->
        <key>interstitialID</key>
        <string>xxx</string>
        <!-- 激励视频 -->
        <key>rewardedVideoID</key>
        <string>xxx</string>
    </dict>
    
    <!-- 穿山甲广告 -->
    <key>BUAd</key>
    <dict>
        <!-- 全屏 -->
        <key>fullscreenAdID</key>
        <string>xxx</string>
        <!-- appID -->
        <key>appID</key>
        <string>xxx</string>
        <!-- bannerID -->
        <key>bannerID</key>
        <string>xxx</string>
        <!-- 插屏广告 -->
        <key>interstitialID</key>
        <string>xxx</string>
        <!-- 激励视频 -->
        <key>rewardedVideoID</key>
        <string>xxx</string>
        <!-- 开屏 -->
        <key>splashAdID</key>
        <string>xxx</string>
    </dict>
    
</dict>
</plist>
